footer {
  border-top: 2px solid #dd9c4c;
  width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#loggaOchLinks {
  width: 1000px;
  height: 150px;
  display: flex;
  margin-top: 30px;
  gap: 40px;
}

#mauGossipLogga {
  height: 90px;
  width: 200px;
}

#footerLogga {
  height: 90px;
}

#linksBox {
  height: 60px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.footerLinks {
  color: #dd9c4c;
  font-family: "bodondi72";
  padding-left: 60px;
  padding-bottom: 25px;
  font-size: 12px;
}

#footerAdressBox {
  width: 1100px;
  display: flex;
  justify-content: end;
}

#footerAdress {
  width: 670px;
  height: 20px;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}

#footerAdress a {
  color: white;
}