main {
  height: 100px;
}
footer {
  border-top: 2px solid #dd9c4c;
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
}

#loggaOchLinks {
  width: 1000px;
  height: 300px;
  display: flex;
  margin-top: 30px;
  gap: 40px;
}

#mauGossipLogga {
  height: 90px;
  width: 200px;
}

#footerLogga {
  height: 90px;
}

#linksBox {
  height: 60px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

.footerLinks {
  color: #dd9c4c;
  font-family: "bodondi72";
  padding-left: 60px;
  padding-bottom: 20px;
}
