#gameOverContainer {
  width: 70%;
}

#gameOverWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#firstGameover-text,
#secondGameover-text,
#thirdGameover-text {
  font-family: "bodondi72";
  font-size: 16px;
  color: white;
  text-align: left;
  margin-bottom: 50px;
}

.gameOverText {
  font-family: "imperial script";
  font-size: 100px;
  color: #54312f;
  -webkit-text-stroke: 1px #ae2e30;
}

#gameOverTextId {
  color: #54312f;
  -webkit-text-stroke: 1px #ae2e30;
  font-family: "imperial script";
  font-size: 100px;
  margin-top: 40px;
}

#thirdGameover-text {
  margin-bottom: 50px;
}

#GameOverTitle {
  display: none;
}
@media (max-width: 767px) {
  #gameOverContainer {
    margin-top: 20px;
  }

  #firstGameover-text,
  #secondGameover-text,
  #thirdGameover-text {
    font-size: 14px;
  }

  #gameOverTextId {
    display: none;
  }

  #GameOverTitle {
    color: #ae2e30;
    font-size: 60px;
    display: block;
    font-family: "imperial script";
  }
}
