#whisperBox {
  width: 846px;
  display: flex;
  justify-content: start;
}
#whisperTitle {
  font-family: "bodondi72";
  font-size: 32px;
  color: #e3820a;
  letter-spacing: 1.2px;
  margin-top: 60px;
  margin-bottom: 5px;
}

#gossipBox {
  background-image: url(../pictures/turningtorso.jpg);
  width: 846px;
  height: 440px;
  border: 1px solid #dd9c4c;
}

#allTipsBox {
  width: 846px;
  display: flex;
  justify-content: end;
}

#allTips {
  font-family: "bodondi72";
  font-size: 20px;
  color: #e3820a;
  margin-top: 5px;
  text-decoration: underline;
}
