#picturePageBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#picturesGalleryBox {
  margin-top: 80px;
  margin-bottom: 80px;
  width: 1065px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pictureGallery {
  width: 330px;
  height: 518px;
  background-size: cover;
  background-position: center;
}

#picturesPageTitlePhone {
  display: none;
}

#imagePopup {
  display: none;
}

#imagePopup.showPopup {
  display: flex;
  position: fixed;
  inset: 0;
  background-color: rgba(35, 15, 25, 0.75);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

#popupImage {
  width: 75%;
  max-width: 355px;
  height: 500px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 767px) {
  #picturesGalleryBox {
    width: 100%;
    justify-content: center;
    margin-top: 15px;
  }

  .pictureGallery {
    width: 45%;
    height: 260px;
  }

  #picturesPageTitlePhone {
    width: 90%;
    display: block;
    font-size: 20px;
    font-family: "bodondi72";
    color: #cd9c72;
    margin-left: 20px;
  }

  #popupImage {
    width: 310px;
    height: 390px;
  }
}
