#revealTextWrapper {
    width: 80%;
}

#revealUpperText,
#revealMiddleText,
#revealLastText {
    font-size: 18px;
    font-family: "bodondi72";
    color: white;
}

#nextButtonReveal {
    height: 50px;
    align-self: start;
    margin-left: 93px;
    margin-bottom: 50px;
    border: none;

    width: 120px;
    height: 47px;
    background-color: #dd9c4c;
    font-family: "didact gothic";
    border-radius: 10px;
    font-size: 16px;
}

#nextButtonReveal:hover {
    background-color: #F8E1CD;
    border: none;
    cursor: pointer;
}


.revealText {
    font-size: 100px;
    font-family: "imperial script";
    color: #DD9C4C;
}

@media (max-width: 767px) {
    #revealTextWrapper {
        margin-top: 40px;
    }

    #revealUpperText,
    #revealMiddleText,
    #revealLastText {
        font-size: 14px;
    }

    #nextButtonReveal {
        width: 100px;
        height: 36px;
    }
}