#welcomeContainer {
  width: 80%;
  background-color: #311e29;
  border-radius: 10px;

  position: absolute;
  top: 20px;
  left: 80px;
  padding: 50px;

  box-shadow: 0 10px 30px rgba(140, 135, 135, 0.5);

  overflow: scroll;
}

#welcomeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  padding: 20px;
}

#WelcomeText,
#introText,
#welcomeSection1,
#welcomeSection3,
#welcomeSection2,
#welcomeSection4,
#universityTitle {
  color: #cd9c72;
  font-family: "didact gothic";
  font-size: 14px;

}

#WelcomeText {
  font-family: "imperial script";
  font-size: 30px;
  color: #dd9c4c;

}

#howToPlay,
#universityTitle {
  font-family: "bodondiItalic";
  font-size: 24px;
  color: #dd9c4c;
}

#imgContainer {
  background-image: url(../pictures/Gemini_Generated_Image_xfggrnxfggrnxfgg.png);
  background-position: contain;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;

  width: 80%;
  /* Eller t.ex. 300px */
  height: 400px;
  /* Justera höjden efter behov */
  margin: 20px 0;
}

#startButton {
  margin-left: 80%;
  margin-bottom: 50px;
  border: none;
  width: 120px;
  height: 47px;
  background-color: #dd9c4c;
  font-family: "didact gothic";
  border-radius: 10px;
  font-size: 16px;
  margin-top: 20px;
}

#startButton:hover {
  background-color: #f8e1cd;
  border: none;
  cursor: pointer;
}

.instagramPasswordAlice {
  color: #dd9c4c;
}

@media (max-width: 767px) {
  #welcomeContainer {
    width: 90%;
    margin-top: 50px;

    position: absolute;
    left: 15px;
    padding: 10px;

    display: flex;
    flex-direction: column;

    box-shadow: 0 10px 30px rgba(140, 135, 135, 0.5);
  }


  #introText,
  #welcomeSection1,
  #universityTitle,
  #howToPlay {
    font-size: 14px;
  }

  #imgContainer {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

    width: 80%;
    height: 80px;
  }

  #startButton {
    width: 100px;
    height: 36px;
    margin-top: 10px;
    margin-left: 5%;
  }
}