#allGossipsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#boxGossip {
  margin-top: 90px;
}

.whisperGossipsBox {
  background-color: #f8e1cd;
  padding: 20px 40px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 630px;
}

.dateText {
  text-align: end;
  font-family: "didact gothic";
  font-size: 11px;
  color: #67635e;
}

.gossipText {
  font-family: "bodondi";
}

.senderText {
  font-family: "imperial script";
}

#containerPages {
  display: flex;
  width: 630px;
  color: #dd9c4c;
  justify-content: space-between;
  align-items: center;
  font-family: "bodondi72";
  margin-bottom: 250px;
  margin-top: 40px;
}
